<div class="container my-5">

    <div class="text-center mb-4">
      <h2 class="text-primary fw-bold">Pago de Servicios</h2>
      <p class="text-muted">Paga tus servicios de manera rápida y sencilla</p>
    </div>
  
    
    <div class="mb-4">
      <label for="exampleDataList" class="form-label">Empresa de servicio</label>
      <input [(ngModel)]="valorBusqueda" class="form-control rounded-pill shadow-sm" 
      (input)="realizarBusquedaEmpresa()"
      list="datalistOptions" 
      id="exampleDataList" 
      placeholder="Buscar Empresa de servicio (Ej: Luz, Agua, Internet)">
      <datalist id="datalistOptions">
        @for(empresa of empresas; track empresa.id) {
          <option ngValue="{{empresa}}">{{empresa.nombre}} - {{empresa.tipoEmpresa?.descripcion}}</option>
        }
      </datalist>
    </div>
  
    <div class="mb-4">
      <h5 class="fw-bold">Servicios Populares</h5>
      <div class="d-flex flex-wrap gap-3">
        <button class="btn btn-light shadow-sm rounded-pill px-4">Luz</button>
        <button class="btn btn-light shadow-sm rounded-pill px-4">Agua</button>
        <button class="btn btn-light shadow-sm rounded-pill px-4">Internet</button>
        <button class="btn btn-light shadow-sm rounded-pill px-4">Teléfono</button>
      </div>
    </div>
  
    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white text-center">
        <h5 class="mb-0">Realizar Pago</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="servicio" class="form-label">Servicio</label>
            <select id="servicio" class="form-select rounded-pill">
              <option value="Luz">Luz</option>
              <option value="Agua">Agua</option>
              <option value="Internet">Internet</option>
              <option value="Teléfono">Teléfono</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="monto" class="form-label">Monto a Pagar</label>
            <input
              type="number"
              id="monto"
              class="form-control rounded-pill"
              placeholder="Ingrese el monto"
            />
          </div>
          <button type="submit" class="btn btn-primary w-100 rounded-pill">
            Pagar
          </button>
        </form>
      </div>
    </div>
  </div>