<div class="bg-light">
  <div class="container-xl pt-3 pb-1 mt-5">
    <div class="text-center">
      <h2 class="fw-bold text-primary">BankSafe</h2>
      <p class="text-secondary">El banco de tu confianza en un solo sitio</p>
      <div
        class="d-flex align-items-center justify-content-center gap-4 fs-4 container-redes"
      >
        <!-- Facebook -->
        <a style="color: #3b5998" href="#!" role="button">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>

        <!-- Twitter -->
        <a style="color: #55acee" href="#!" role="button">
          <i class="fab fa-twitter fa-lg"></i>
        </a>

        <!-- Google -->
        <a style="color: #dd4b39" href="#!" role="button">
          <i class="fab fa-google fa-lg"></i>
        </a>

        <!-- Instagram -->
        <a style="color: #ac2bac" href="#!" role="button">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      </div>
      <div class="fw-bold my-3">Tel: +51 929 647 973</div>
      <p>&copy; Todos los derechos reservados</p>
    </div>
  </div>
</div>
