<footer class="text-primary footer-bank pt-5 pb-3 mt-5">
  <div class="container-xl text-center">
    <h2 class="fw-bold mb-2">BankSafe</h2>
    <p class=" mb-4">El banco de tu confianza en un solo sitio</p>

    <div class="d-flex align-items-center justify-content-center gap-3 mb-4 redes-footer">
      <a href="#!" role="button" class="icon-footer bg-facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" role="button" class="icon-footer bg-twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" role="button" class="icon-footer bg-google">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" role="button" class="icon-footer bg-instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>

    <div class="fw-semibold mb-2">Tel: +51 929 647 973</div>
    <small class="text-light-50">&copy; 2025 BankSafe. Todos los derechos reservados.</small>
  </div>
</footer>
