<div class="bg-light">
    <div class="container-xl  pt-3 pb-1 mt-5">
        <div class="text-center">
            <h2 class="fw-bold text-primary">BankSafe</h2>  
            <p class="text-secondary">El banco de tu confianza en un solo sitio</p>
            <div class="d-flex align-items-center justify-content-center gap-4 fs-4 container-redes">
                    <a href="#">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-instagram"></i>
                    </a>
            </div>
            <div class="fw-bold my-3">
                Tel: +51 929 647 973
            </div>
            <p>
                &copy; Todos los derechos reservados
            </p>
        </div>
    </div>
</div>