@use '../../../../styles.scss' as *;

.card-tarjeta{
    color: $darkgray;
    h5{
        color: $primary;
    }
    border: 1px gray solid ;
}
.text-gray{
    color: gray;
}
.saldo-disponible{
    font-size: .9rem;
}