<div class="card-tarjeta shadow px-5 py-3 rounded my-3">
    <div class="d-flex justify-content-between">
        <div>
            <h5 class="fw-bold">Tarjeta de {{tarjeta.tipoTarjeta?.tipo}}</h5>
            <p><span>Nro°</span> {{tarjeta.numeroTarjeta}}</p>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center fw-bold">
            <p class="m-0">S/. {{tarjeta.monto}}</p>
            <p class="m-0 saldo-disponible fw-normal text-gray">Saldo disponible</p>
        </div>
    </div>
</div>