<div class="container my-5">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Mis Tarjetas</h5>
          </div>
          <div class="card-body">
            @for(tarjeta of usuario.tarjetas; track tarjeta.id){
              <div class="mb-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="mb-0">{{ tarjeta.tipoTarjeta?.tipo }}</h6>
                    <p class="text-muted mb-0">**** **** **** {{ tarjeta.numeroTarjeta }}</p>
                  </div>
                  <div>
                    <p class="text-muted mb-0">Saldo: {{ tarjeta.monto }}</p>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow-sm mb-4">
          <div class="card-header bg-info text-white">
            <h5 class="mb-0">Tipos de Tarjetas</h5>
          </div>
          <div class="card-body">
            <ul>
              @for(tipoTarjeta of tipoTarjetas; track tipoTarjeta.id){
                <li><strong>{{tipoTarjeta.tipo}}</strong></li>
              }
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header bg-secondary text-white">
            <h5 class="mb-0">Solicitar Nueva Tarjeta</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="formularioTarjeta" (ngSubmit)="solicitarTarjeta()">
              <div class="mb-3">
                <label for="tipo" class="form-label">Tipo de Tarjeta</label>
                <select id="tipo" class="form-select" formControlName="tipo">
                  @for(tipoTarjeta of tipoTarjetas; track tipoTarjeta.id){
                    <option value="{{tipoTarjeta.id}}">{{tipoTarjeta.tipo}}</option>
                  }
                </select>
              </div>
              <div class="mb-3">
                <label for="tipo" class="form-label">Tipo de Moneda</label>
                <select id="tipo" class="form-select" formControlName="tipoMoneda">
                  @for(tipoMonedaTarjeta of tipoMonedaTarjetas; track tipoMonedaTarjeta.id){
                    <option value="{{tipoMonedaTarjeta.id}}">{{tipoMonedaTarjeta.tipo}}</option>
                  }
                </select>
              </div>
              <div class="mb-3">
                <label for="limite" class="form-label">Límite de Crédito</label>
                <input type="number" id="limite" class="form-control" formControlName="limite" placeholder="Ej: 5000">
              </div>
              <div class="mb-3">
                <label for="claveInternet" class="form-label">Clave Internet</label>
                <input type="number" id="claveInternet" class="form-control" formControlName="claveInternet" placeholder="123456">
              </div>
              <button type="submit" class="btn btn-primary w-100" [disabled]="formularioTarjeta.invalid" >Solicitar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>