
<div class="d-flex justify-content-center py-4">
    <div class="">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          id="checkboxNoLabel"
          value="Gato"
          aria-label="..."
        />
      </div>
      <div>
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          id="checkboxNoLabel2"
          value="Perro"
          aria-label="..."
        />
      </div>
</div>
<mdb-form-control>
    <input mdbInput type="text" id="form1" class="form-control" />
    <label mdbLabel class="form-label" for="form1">Example label</label>
  </mdb-form-control>