.credit-card-component{
    background-color: #2669D2;
    animation: change-bg-lg 10s infinite alternate;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    .icon-card{
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(50%);
        transform: translateX(40%);
        i{
            opacity: .7;
            font-size: 8rem;
        }
    }
}
@keyframes change-bg-lg{
    0%{
        background: linear-gradient(
            to bottom left,
            #2669D2, 
            #2668d2a9 
            );
    }
    0%{
        background: linear-gradient(
            to bottom left,
            #2669D2, 
            #2668d2d2 
            );
    }
    100%{
        background: linear-gradient(
            to bottom left,
            #2668d2a9,
            #2669D2 
            );
    }
}