<div class="container-xl mt-4">
  <div class="row justify-content-center">
    <div class="mb-5 p-0">
      <app-nav-bar-prestamo></app-nav-bar-prestamo>

      @if (prestamos.length > 0) {
      <div class="shadow p-4 rounded text-center w-100">
        <div class="table-responsive">
          <table class="table table-striped align-middle">
            <thead class="table-dark">
              <tr>
                <th>Monto Prestado</th>
                <th>Monto Pagar</th>
                <th>Porcentaje Anual</th>
                <th>Plazo</th>
                <th>Tipo Plazo</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prestamo of prestamos">
                <td>{{prestamo.tarjetaRecepcion.tipoMonedaTarjeta?.simboloSecundario || ""}} {{ (prestamo.monto?.toFixed(2)) }}</td>
                <td>{{prestamo.tarjetaRecepcion.tipoMonedaTarjeta?.simboloSecundario || ""}} {{ (prestamo.montoPrestamo?.toFixed(2)) }}</td>
                <td>{{ ((prestamo.interesAnual || 0) * 100).toFixed(0)}} %</td>
                <td>{{ prestamo.plazos }}</td>
                <td>{{ prestamo.tipoPlazo?.tipo }}</td>
                <td>{{ prestamo.fechaInicio | date }}</td>
                <td>{{ prestamo.fechaFin | date  }}</td>
                <td>
                  <span 
                    class="badge"
                    [ngClass]="{
                      'bg-success': prestamo.estadoPrestamo?.estadoPrestamo === 'Pagado',
                      'bg-warning text-dark': prestamo.estadoPrestamo?.estadoPrestamo === 'Activo',
                      'bg-danger': prestamo.estadoPrestamo?.estadoPrestamo === 'Vencido'
                    }"
                  >
                    {{ prestamo.estadoPrestamo?.estadoPrestamo }}
                  </span>
                </td>
                <td>
                  <a [routerLink]="'/opciones/solicitar-prestamo/prestamo-detalle/' + prestamo.id" class="btn btn-outline-primary btn-sm ">
                    <i class="mdi mdi-eye"></i>
                    Detalles
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      } @else {
      <div class="shadow p-4 py-5 rounded text-center w-100">
        <p class="mb-0 py-5">
          No hay préstamos, solicite
          <a routerLink="/opciones/solicitar-prestamo/solicitar" class="text-primary fw-bold">aquí</a>.
        </p>
      </div>
      }
      <div class="d-none d-md-block">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    
  </div>
</div>
