@use '../../../../styles.scss' as *;

.card-accion{
    background-color: $lightgray;
    a{
        text-decoration: none;
    }
    min-height: 4rem;
    transition: transform .3s ease;
    i{
        font-size: 2rem;
    }
}
.card-accion:hover{
    transform: translateY(-5px);
}