
<div class="bg-light py-2">
    <nav class="container-xl">
      <div class="d-flex justify-content-around align-items-center">
        <img class="img-logo" src="logo.png" alt="logo">
        <div>
          <ul class="nav">
            <li class="nav-item">
              <a href="/" class="nav-link fw-bold">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Operaciones
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Explora
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
                <div class="nav-item dropdown">
                    <a class="d-flex align-items-center nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="container-img-user">
                        <img class="img-fluid" src="user.png">
                      </div>
                    </a>
                    <ul class="dropdown-menu ">
                      <li><a class="dropdown-item fw-bold" href="usuario/configuracion">
                        <i class="bi bi-gear-fill"></i>
                        Configurar</a></li>
                      <li><a class="dropdown-item fw-bold" href="#">
                        <i class="bi bi-key-fill"></i>
                        Cambiar Clave</a></li>
                      <li><hr class="dropdown-divider fw-bold"></li>
                      <li><a class="dropdown-item text-danger" href="auth/login">
                        <i class="bi bi-box-arrow-right"></i>
                        Cerrar Sesión</a></li>
                    </ul>
                </div>
        </div>
      </div>
      
    </nav>
  </div>