<div class="bg-light py-3">
  <nav class="navbar navbar-expand-lg container-xl px-md-0 px-2">
    <a class="navbar-brand" routerLink="/">
      <img class="img-logo" src="logo.png" alt="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Operaciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="operaciones/transferencias-internas">Transferencias internas</a></li>
            <li><a class="dropdown-item" routerLink="operaciones/transferencias-interbancaria">Transferencias interbancarias</a></li>
            <li><a class="dropdown-item" routerLink="operaciones/pago-de-servicio">Pago de servicios</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" routerLink="operaciones/cambio-de-moneda">Cambio de moneda</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Explora
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="explora/prestamos-y-creditos">Préstamos y créditos</a></li>
            <li><a class="dropdown-item" routerLink="explora/tarjetas">Tarjetas</a></li>
            <li><a class="dropdown-item" routerLink="explora/beneficios-y-promociones">Beneficios / Promociones</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" routerLink="explora/seguridad-y-soporte">Seguridad y soporte</a></li>
            <li>
              
            </li>
          </ul>
        </li>
      </ul>

      <div class="nav-item dropdown">
        <button class="ms-md-0 ms-3 nav-link dropdown-toggle fw-bold d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="container-img-user">
            <i class="fa-solid fa-user"></i>
          </div>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="usuario/mi-perfil"><i class="bi bi-gear-fill"></i> Mi Perfil</a></li>
          <li><a class="dropdown-item" routerLink="usuario/configuracion"><i class="bi bi-gear-fill"></i> Configuración</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><button class="dropdown-item text-danger" (click)="removerCookies()"><i class="bi bi-box-arrow-right"></i> Cerrar Sesión</button></li>
        </ul>
      </div>
    </div>
  </nav>
</div>