<div class="container-xl mt-4">
  <div class="row justify-content-center">
    <div class="p-0">
      <app-nav-bar-prestamo></app-nav-bar-prestamo>
      <div class="shadow p-3 rounded mx-3 text-start w-100">
        <h2>Solicitar Prestamo</h2>
        <form [formGroup]="prestamoFormGroup" (submit)="solicitarPrestamo()">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="">
                <label class="form-label fs-5 fw-light">Seleccione su Tarjeta:</label>
        
                <div class="d-flex flex-column">
                  <div class="btn-group-vertical w-100 p-1 btn-group-tarjetas" role="group" aria-label="Vertical radio toggle button group">
                    @for (tarjeta of usuario.tarjetas; track tarjeta.id) {
                      <input
                        type="radio"
                        class="btn-check"
                        (change)="cambioInput($event)"
                        name="vbtn-radio"
                        [value]="tarjeta.id"
                        [id]="'Mitarjeta' + tarjeta.id"
                        autocomplete="off"
                      />
                      <label
                        class="btn btn-outline-primary tarjeta-label"
                        [for]="'Mitarjeta' + tarjeta.id"
                      >
                        <div class="m-1">
                          <app-card-tarjeta class="text-start" [tarjeta]="tarjeta"></app-card-tarjeta>
                        </div>
                      </label>
                    }
                  </div>
                    
                  </div>
        
                </div>
              </div>
              <div class="col-md-6 text-start">
                <div class="mb-3">
                  <label for="montoPrestamo" class="form-label"
                    >Monto del Préstamo a Solicitar</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="montoPrestamo"
                    formControlName="monto"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="interes" class="form-label">Interés Anual(%)</label>
                  <input
                    type="number"
                    class="form-control"
                    id="interes"
                    name="interes"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="tipoPlazo" class="form-label">Tipo Plazo</label>
                  <select
                    type="number"
                    class="form-control"
                    id="tipoPlazo"
                    name="tipoPlazo"
                    required
                  >
                  @for(tipoPlazo of tipoPlazos; track tipoPlazo.id){
                    <option [value]="tipoPlazo.id">{{tipoPlazo.tipo}}</option>
                  }
                  </select>
                </div>
                <div class="mb-3">
                  <label for="plazoMeses" class="form-label">Plazos</label>
                  <input
                    type="number"
                    class="form-control"
                    id="plazoMeses"
                    name="plazoMeses"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="fechaInicio" class="form-label"
                    >Fecha de Inicio</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="fechaInicio"
                    name="fechaInicio"
                    required
                  />
                </div>
              </div>
            </div>
          <div class="text-end">
            <button type="button" class="btn btn-warning me-2">
              Pre Visualizar Pagos
            </button>
            <button type="submit" class="btn btn-primary">
              Solicitar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
