<div class="w-100 d-flex justify-content-center align-items-center h-100vh">
    <div class="rounded border border-1 shadow d-flex justify-content-center">
        <div class="col-md-6 container-part-1-login px-3 py-3">
          <div class="container-img-login d-flex align-items-center justify-content-center">
            <div>
              <img class="img-fluid" src="logo.png" alt="imagen logo">
            </div>
          </div>
        </div>
        <div class="col-md-6 px-3 py-3">
          <div class="mx-1 d-flex justify-content-center">
            <form (submit)="saveUserTarjeta()" [formGroup]="formRegisterUserTarjeta">
              <h1 class="fw-bold">User</h1>
              <div class="form-group">
                <label class="col-md-6 mb-1 pe-md-3">
                  <i class="bi bi-person"></i>
                  Tipo Documento
                  <select name="tipoDocumento" id="tipoDocumento" formControlName="tipoDocumento" class="form-select">
                    @if(listaTipoDocumentoUser){
                      <option>Elige tipo de documento</option>
                      @for (tipoDocumentoUser of listaTipoDocumentoUser; track tipoDocumentoUser.id) {
                        <option value="{{tipoDocumentoUser.id}}">{{tipoDocumentoUser.tipo}}</option>
                      }
                    } @else {
                      <option>No han cargado</option>
                    }
                  </select>
                </label>
                <label class="col-md-6">
                    <i class="bi bi-person"></i>
                    Numero Documento
                    <input type="text" class="form-control" formControlName="numeroDocumento" />
                  </label>
              </div>
              <div class="form-group mb-3">
                <label class="col-md-6 pe-3">
                  <i class="bi bi-person"></i>
                  Nombres
                  <input type="text" class="form-control" formControlName="nombres" />
                </label>
                <label class="col-md-6">
                    <i class="bi bi-person"></i>
                    Apellidos
                    <input type="text" class="form-control" formControlName="apellidos" />
                  </label>
              </div>
              <div class="form-group mb-3">
                <label class="col-12">
                    <i class="bi bi-person"></i>
                    Fecha Nacimiento
                    <input type="date" class="form-control" formControlName="fechaNacimiento" />
                  </label>
              </div>
              <hr>
              <h1 class="fw-bold">Tarjeta</h1>
              <div class="form-group">
                <label class="col-md-6 mb-1 pe-md-3">
                  <i class="bi bi-person"></i>
                  Tipo Tarjeta
                  <select name="tipoTarjeta" class="form-select" id="tipoTarjeta" formControlName="tipoTarjeta">
                    
                      <option value="0">Elige tipo de tarjeta</option>
                      @for (tipoTarjeta of listTipoTarjeta; track tipoTarjeta.id) {
                        <option value="{{tipoTarjeta.id}}">{{tipoTarjeta.tipo}}</option>
                      }
                    
                  </select>
                </label>
                <label class="col-md-6 mb-1 ">
                    <i class="bi bi-person"></i>
                    Tipo Moneda
                    <select name="tipoMoneda" class="form-select" id="tipoMoneda" formControlName="tipoMoneda">
                      
                        <option>Elige tipo de documento</option>
                        @for (tipoMonedaTarjeta of listTipoMonedaTarjeta; track tipoMonedaTarjeta.id) {
                          <option value="{{tipoMonedaTarjeta.id}}">{{tipoMonedaTarjeta.tipo}}</option>
                        }
                      
                    </select>
                  </label>
              </div>
              <div class="form-group">
                <label class="col-12">
                  <i class="bi bi-person"></i>
                  Numero Tarjeta
                  <input type="number" class="form-control " formControlName="numeroTarjeta" />
                </label>
              </div>
              <div class="form-group">
                <label class="col-12">
                  <i class="bi bi-person"></i>
                  Contraseña
                  <input type="text" class="form-control " formControlName="clave" />
                </label>
              </div>
              
              <div class="mt-3 text-end">
                <button class="btn btn-primary w-100" >
                  Registrar
                </button>
                
              </div>
              <div class="text-center">
                <span>Si tienes cuentas puedes </span>
                <a href="auth/login">Iniciar Session</a>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
