<div class="container-xl my-4">
  <h1 class="fw-light fw-bold text-primary">Tranferencia</h1>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="border rounded shadow p-4 bg-white">
        <label class="form-label fs-5 fw-light">Seleccione su Tarjeta:</label>

        <div class="d-flex flex-column">
          <div
            class="btn-group-vertical w-100 p-1"
            role="group"
            aria-label="Vertical radio toggle button group"
          >
            @for (tarjeta of usuario.tarjetas; track tarjeta.id) {
            <input
              type="radio"
              class="btn-check"
              (change)="cambioInput($event)"
              name="vbtn-radio"
              [value]="tarjeta.id"
              [id]="'Mitarjeta' + tarjeta.id"
              autocomplete="off"
            />
            <label
              class="btn btn-outline-primary p-1"
              [for]="'Mitarjeta' + tarjeta.id"
            >
              <div
                class="credit-card-component rounded text-dark shadow-sm p-2"
              >
                <div class="icon-card mb-2">
                  <i class="bi bi-shield-fill"></i>
                </div>
                <p class="fs-4 fw-bolder">
                  Tarjeta de {{ tarjeta.tipoTarjeta?.tipo }} ({{
                    tarjeta.tipoMonedaTarjeta?.simbolo
                  }})
                </p>
                <p class="fs-5 fw-bold">{{ tarjeta.numeroTarjeta }} - Monto {{tarjeta.monto}}</p>
              </div>
            </label>
            }
          </div>
          <div class="mb-3">
            <form [formGroup]="formMonto">
              <label for="monto" class="form-label fw-light fs-5">Monto</label>
              <input
                type="text"
                class="form-control"
                id="monto"
                placeholder="Ingrese el monto"
                pattern="[0-9]*"
                formControlName="monto"
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
              />
            </form>
            
          </div>

          <div class="text-end mt-3">
            <button
              class="btn btn-success"
              
              (click)="realizarTransaccion()"
            >
              Continuar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="border rounded shadow p-4 bg-white">
        <label for="buscador" class="form-label fs-5 fw-light"
          >Buscar Tarjeta</label
        >
        <div class="input-group">
          <input
            type="text"
            id="buscador"
            class="form-control"
            placeholder="Escribe un numero"
            [disabled]="!tarjetaSeleccionada"
          />
          <button
            class="btn btn-primary"
            type="button"
            [disabled]="!tarjetaSeleccionada"
          >
            Buscar
          </button>
        </div>
        <label class="form-label fs-5 fw-light">Seleccione una tarjeta:</label>
        <div
          class="btn-group-vertical w-100 p-1"
          role="group"
          aria-label="Vertical radio toggle button group"
        >
          @for (tarjeta of tarjetadSelecionadas.content; track tarjeta.id) {
          <input
            type="radio"
            class="btn-check"
            (change)="cambioInputTarjetaDestino($event)"
            name="vbtn-radio2"
            [value]="tarjeta.id"
            [id]="'Tarjeta' + tarjeta.id"
            autocomplete="off"
          />
          <label
            class="btn btn-outline-primary p-1"
            [for]="'Tarjeta' + tarjeta.id"
          >
            <div class="credit-card-component rounded text-dark shadow-sm p-2">
              <div class="icon-card mb-2">
                <i class="bi bi-shield-fill"></i>
              </div>
              <p class="fs-4 fw-bolder">
                Tarjeta de {{ tarjeta.tipoTarjeta?.tipo }} ({{
                  tarjeta.tipoMonedaTarjeta?.simbolo
                }})
              </p>
              <p class="fs-5 fw-bold">{{ tarjeta.numeroTarjeta }} - Monto {{tarjeta.monto}}</p>
            </div>
          </label>
          }
        </div>
      </div>
    </div>
  </div>
</div>
