<div class="container-xl my-4">
  <h1 class="fw-light fw-bold text-primary">Tranferencia</h1>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="border rounded shadow p-4 bg-white">
        <label class="form-label fs-5 fw-light">Seleccione su Tarjeta:</label>

        <div class="d-flex flex-column">
          <div class="btn-group-vertical w-100 p-1 btn-group-tarjetas" role="group" aria-label="Vertical radio toggle button group">
            @for (tarjeta of usuario.tarjetas; track tarjeta.id) {
              <input
                type="radio"
                class="btn-check"
                (change)="cambioInput($event)"
                name="vbtn-radio"
                [value]="tarjeta.id"
                [id]="'Mitarjeta' + tarjeta.id"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary tarjeta-label"
                [for]="'Mitarjeta' + tarjeta.id"
              >
                <div class="m-1">
                  <app-card-tarjeta class="text-start" [tarjeta]="tarjeta"></app-card-tarjeta>
                </div>
              </label>
            }
          </div>
          <div class="mb-3">
            <form [formGroup]="formMonto">
              <label for="monto" class="form-label fw-light fs-5">Monto</label>
              <input
                type="number"
                class="form-control"
                id="monto"
                placeholder="Ingrese el monto"
                pattern="[0-9]*"
                formControlName="monto"
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
              />
              <div class="text-danger" *ngIf="formMonto.get('monto')?.invalid && formMonto.get('monto')?.touched">
                <small *ngIf="formMonto.get('monto')?.errors?.['required']">El monto es obligatorio.</small>
                <small *ngIf="formMonto.get('monto')?.errors?.['min']">El monto debe ser mayor a 0.</small>
              </div>
            </form>
            
          </div>

          <div class="text-end mt-3">
            <button
              class="btn btn-success"
              [disabled]="formMonto.invalid"
              (click)="realizarTransaccion()"
            >
              Transferir
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="border rounded shadow p-4 bg-white">
        <label for="buscador" class="form-label fs-5 fw-light"
          >Buscar Tarjeta</label
        >
        <div class="input-group">
          <input
            type="text"
            id="buscador"
            class="form-control"
            placeholder="Escribe un numero"
            [(ngModel)]="numeroTarjeta"
          />
          <button
            class="btn btn-primary"
            type="button"
            (click)="realizarBusquedaTarjeta()"
          >
            Buscar
          </button>
        </div>
        <label class="form-label fs-5 fw-light">Seleccione una tarjeta:</label>
        <div class="btn-group-vertical w-100 p-1 btn-group-tarjetas" role="group" aria-label="Vertical radio toggle button group">
          @if(tarjetadSelecionadas.content.length > 0){
            @for (tarjeta of tarjetadSelecionadas.content; track tarjeta.id) {
              <input
                type="radio"
                class="btn-check"
                (change)="cambioInputTarjetaDestino($event)"
                name="vbtn-radio2"
                [value]="tarjeta.id"
                [id]="'Tarjeta' + tarjeta.id"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-primary tarjeta-label"
                [for]="'Tarjeta' + tarjeta.id"
              >
                <div class="m-1">
                  <app-card-tarjeta class="text-start" [tarjeta]="tarjeta"></app-card-tarjeta>
                </div>
              </label>
            }
          }@else {
            <div class="alert alert-warning text-center w-100" role="alert">
              <p class="">Realice una busqueda</p>
            </div>
            
          }
        </div>
      </div>
    </div>
  </div>
</div>
