<div class="container my-5">
    <div class="row justify-content-center ">    
      <!-- Columna 1: Convertidor -->
      <div class="col-md-4 mb-4 d-flex">
        <div class=" w-100">
          <form [formGroup]="formGroupConvertir">
          <h3 class="text-start mb-4">Convertidor de Moneda</h3>
  
          <!-- Campo de ingreso en soles -->
          <div class="mb-3">
            <label for="monto" class="form-label">Monto en {{tarjetaSeleccionada?.tipoMonedaTarjeta?.tipo}} </label>
            <input type="text" class="form-control" formControlName="monto"  id="monto" placeholder="Ej. 100" [max]="tarjetaSeleccionada?.monto" inputmode="numeric" pattern="[0-9]*"
              oninput="this.value = this.value.replace(/[^0-9]/g, '')">
          </div>
  
          <!-- Selección de moneda -->
          <div class="mb-3">
            <label for="moneda" class="form-label">Convertir a:</label>
            <select class="form-select" id="moneda" formControlName="tipo">
              @for(tipoMoneda of tipoMonedas; track tipoMoneda.tipo){
                <option [value]="tipoMoneda.tipo">{{tipoMoneda.tipo}} ({{tipoMoneda.simbolo}}) - Tipo Cambio - {{tipoMoneda.valor}}</option>
              }
            </select>
          </div>
  
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="text-center mb-3">
                <button class="btn btn-primary" (click)="convertir()">Convertir</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mt-2 text-center">
                <h5>Resultado: <span class="fs-5 fw-semibold">{{resultado}}</span></h5>
              </div>
            </div>
          </div>
          <!-- Botón -->
          
  
          <!-- Resultado -->
          
          </form>
        </div>
        
      </div>
  

      <div class="col-md-6 d-flex flex-column">
        <h3>Tarjetas</h3>

     
        <div class="row">
          <div class="col-md-10">
            <div class="form-group my-3">
              <label class="form-label" for="numeroTarjeta">Numero Tarjeta</label>
              <input type="text" #numeroTarjetaB id="numeroTarjeta" class="form-control" placeholder="Ejemplo 1234" /> 
            </div>
          </div>
          <div class="col-md-2 d-flex justify-content-end align-items-center">
            <div>
              <button (click)="buscarTarjeta()" class="btn btn-primary">Buscar</button>
            </div>
          </div>
        </div>
        @if(tarjetadSelecionadas.size > 0){
          <form [formGroup]="formGroupTarjetaDestino">

          <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
            @for(tarjeta of tarjetadSelecionadas.content; track tarjeta.id){
              <input type="radio" class="btn-check" name="vbtn-radio-tarjeta" [id]="'tarjeta-' + tarjeta.numeroTarjeta" formControlName="tarjetaId" [value]="tarjeta.numeroTarjeta" autocomplete="off">
              <label class="btn btn-outline-primary p-1 mt-1 rounded" [for]="'tarjeta-' + tarjeta.numeroTarjeta">
                <div class="credit-card-component rounded text-white shadow-sm p-2">
                  <div class="icon-card mb-2">
                    <i class="bi bi-shield-fill"></i>
                  </div>
                  <p class="fs-4 fw-bolder">{{tarjeta.tipoTarjeta.tipo}}</p>
                  <p class="fs-5 fw-bold">{{tarjeta.numeroTarjeta}}</p>
                </div>
              </label>
          }
          </div>
        </form>
        }@else {
          <div class="alert alert-warning" role="alert">
            Busca una tarjeta
          </div>
        }

      </div>
    </div>
    <div>
      <div class="text-end mt-3">
        <button (click)="realizarTransferencia()" class="btn btn-success">Enviar</button>
      </div>
    </div>      
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select Your Card</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGroupTarjetaSelected">
        <div class="mb-3">
          <label for="idtarjeta">Tarjeta</label>
          <select class="form-select" id="idtarjeta" formControlName="idtarjeta">
            @for(tarjeta of usuario.tarjetas; track tarjeta.id){
              <option [value]="tarjeta.id">{{tarjeta.numeroTarjeta}} - {{tarjeta.tipoTarjeta?.tipo}} - {{tarjeta.tipoMonedaTarjeta?.simbolo}} {{tarjeta.monto || 0}}</option>
            }
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="seleccionarTarjeta()">Aceptar</button>
    </div>
  </ng-template>
  