<div class="container my-5">
    <div class="row justify-content-center ">    
      <!-- Columna 1: Convertidor -->
      <div class="col-md-4 mb-4 d-flex">
        <div class=" w-100">
          <form [formGroup]="formGroupConvertir">
          <h3 class="text-start mb-4">Convertidor de Moneda</h3>
  
          <!-- Campo de ingreso en soles -->
          <div class="mb-3">
            <label for="monto" class="form-label">Monto en {{tarjetaSeleccionada?.tipoMonedaTarjeta?.tipo}} </label>
            <input type="text" class="form-control" formControlName="monto"  id="monto" placeholder="Ej. 100" [max]="tarjetaSeleccionada?.monto" inputmode="numeric" pattern="[0-9]*"
              >
              <div class="text-danger" *ngIf="formGroupConvertir.get('monto')?.invalid && formGroupConvertir.get('monto')?.touched">
                <small *ngIf="formGroupConvertir.get('monto')?.errors?.['required']">El monto es obligatorio.</small>
                <small *ngIf="formGroupConvertir.get('monto')?.errors?.['min']">El monto debe ser mayor a 0.</small>
              </div>
          </div>
  
          <!-- Selección de moneda -->
          <div class="mb-3">
            <label for="moneda" class="form-label">Convertir a:</label>
            <select class="form-select" id="moneda" formControlName="tipo">
              @for(tipoMoneda of tipoMonedas; track tipoMoneda.tipo){
                <option [value]="tipoMoneda.tipo">{{tipoMoneda.tipo}} ({{tipoMoneda.simbolo}}) - Tipo Cambio - {{tipoMoneda.valor}}</option>
              }
            </select>
          </div>
  
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="text-center mb-3">
                <button class="btn btn-primary" (click)="convertir()">Convertir</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class=" text-center">
                <h5>Resultado: <span class="fs-5 fw-semibold">{{resultado}}</span></h5>
              </div>
            </div>
          </div>
          <!-- Botón -->
          
  
          <!-- Resultado -->
          
          </form>
        </div>
        
      </div>
  

      <div class="col-md-6 d-flex flex-column">
        <h3>Tarjetas</h3>

     
        <div class="row">
          <div class="col-md-10">
            <div class="form-group my-3">
              <label for="buscador" class="form-label fs-5 fw-light"
              >Buscar Tarjeta</label
            >
            <div class="input-group">
              <input
                type="text"
                id="buscador"
                class="form-control"
                placeholder="Escribe un numero"
                [(ngModel)]="numeroTarjetaBusqueda"
              />
              <button
                class="btn btn-primary"
                type="button"
                (click)="realizarBusquedaTarjeta()"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>
        @if(tarjetadSelecionadas.size > 0){
          <div class="btn-group-vertical w-100 p-1 btn-group-tarjetas" role="group" aria-label="Vertical radio toggle button group">
            @for (tarjeta of tarjetadSelecionadas.content; track tarjeta.id) {
              <input type="radio" 
              class="btn-check" 
              (change)="cambioInput($event)" 
              name="vbtn-radio" [value]="tarjeta.id" [id]="'Tarjeta' + tarjeta.id"
               autocomplete="off">
            <label class="btn btn-outline-primary tarjeta-label"
              [for]="'Tarjeta' + tarjeta.id">
              <div class="m-1">
                <app-card-tarjeta class="text-start" [tarjeta]="tarjeta"></app-card-tarjeta>
              </div>
            </label>
            }
          </div>
        }@else {
          <div class="alert alert-warning" role="alert">
            Busca una tarjeta
          </div>
        }

      </div>
    </div>
    <div>
      <div class="text-end mt-3">
        <button (click)="realizarTransferencia()" class="btn btn-success">Enviar</button>
      </div>
    </div>      
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Select Your Card</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGroupTarjetaSelected">
        <div class="mb-3">
          <label for="idtarjeta">Tarjeta</label>
          <select class="form-select" id="idtarjeta" formControlName="idtarjeta">
            @for(tarjeta of usuario.tarjetas; track tarjeta.id){
              <option [value]="tarjeta.id">{{tarjeta.numeroTarjeta}} - {{tarjeta.tipoTarjeta?.tipo}} - {{tarjeta.tipoMonedaTarjeta?.simbolo}} {{tarjeta.monto!.toFixed(2) || 0}}</option>
            }
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="seleccionarTarjeta()">Aceptar</button>
    </div>
  </ng-template>
  